<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.credit.mapper.CreditPayBackMapper">

    <resultMap type="com.ruoyi.credit.domain.CreditPayBack" id="CreditPayBackResult">
        <result property="id" column="id"/>
        <result property="cardId" column="card_id"/>
        <result property="year" column="year"/>
        <result property="month" column="month"/>
        <result property="billDay" column="bill_day"/>
        <result property="payBackDay" column="pay_back_day"/>
        <result property="isPayed" column="is_payed"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCreditPayBackVo">
        select id,
               card_id,
               year,
               month,
               bill_day,
               pay_back_day,
               is_payed,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_credit_pay_back
    </sql>

    <select id="selectCreditPayBackList" parameterType="com.ruoyi.credit.domain.CreditPayBack"
            resultMap="CreditPayBackResult">
        <include refid="selectCreditPayBackVo"/>
        <where>
            <if test="cardId != null ">and card_id = #{cardId}</if>
            <if test="year != null ">and year = #{year}</if>
            <if test="month != null ">and month = #{month}</if>
            <if test="billDay != null ">and bill_day = #{billDay}</if>
            <if test="payBackDay != null ">and pay_back_day = #{payBackDay}</if>
            <if test="isPayed != null  and isPayed != ''">and is_payed = #{isPayed}</if>
        </where>
    </select>

    <select id="selectCreditPayBackById" parameterType="Long" resultMap="CreditPayBackResult">
        <include refid="selectCreditPayBackVo"/>
        where id = #{id}
    </select>

    <insert id="insertCreditPayBack" parameterType="com.ruoyi.credit.domain.CreditPayBack" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_credit_pay_back
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardId != null">card_id,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="billDay != null">bill_day,</if>
            <if test="payBackDay != null">pay_back_day,</if>
            <if test="isPayed != null">is_payed,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardId != null">#{cardId},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="billDay != null">#{billDay},</if>
            <if test="payBackDay != null">#{payBackDay},</if>
            <if test="isPayed != null">#{isPayed},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCreditPayBack" parameterType="com.ruoyi.credit.domain.CreditPayBack">
        update t_credit_pay_back
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="billDay != null">bill_day = #{billDay},</if>
            <if test="payBackDay != null">pay_back_day = #{payBackDay},</if>
            <if test="isPayed != null">is_payed = #{isPayed},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCreditPayBackById" parameterType="Long">
        delete
        from t_credit_pay_back
        where id = #{id}
    </delete>

    <delete id="deleteCreditPayBackByIds" parameterType="String">
        delete from t_credit_pay_back where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
