<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.credit.mapper.CreditCardMapper">

    <resultMap type="com.ruoyi.credit.domain.CreditCard" id="CreditCardResult">
        <result property="id" column="id"/>
        <result property="cardNum" column="card_num"/>
        <result property="cardName" column="card_name"/>
        <result property="creditLimit" column="credit_limit"/>
        <result property="billDay" column="bill_day"/>
        <result property="repayDay" column="repay_day"/>
        <result property="annualFee" column="annual_fee"/>
        <result property="bank" column="bank"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCreditCardVo">
        select id,
               card_num,
               card_name,
               credit_limit,
               bill_day,
               repay_day,
               annual_fee,
               bank,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from t_credit_card
    </sql>

    <select id="selectCreditCardList" parameterType="com.ruoyi.credit.domain.CreditCard" resultMap="CreditCardResult">
        <include refid="selectCreditCardVo"/>
        <where>
            <if test="cardNum != null  and cardNum != ''">and card_num = #{cardNum}</if>
            <if test="cardName != null  and cardName != ''">and card_name like concat('%', #{cardName}, '%')</if>
            <if test="creditLimit != null ">and credit_limit = #{creditLimit}</if>
            <if test="billDay != null  and billDay != ''">and bill_day = #{billDay}</if>
            <if test="repayDay != null  and repayDay != ''">and repay_day = #{repayDay}</if>
            <if test="annualFee != null ">and annual_fee = #{annualFee}</if>
            <if test="bank != null  and bank != ''">and bank = #{bank}</if>
        </where>
    </select>

    <select id="selectCreditCardById" parameterType="Long" resultMap="CreditCardResult">
        <include refid="selectCreditCardVo"/>
        where id = #{id}
    </select>

    <insert id="insertCreditCard" parameterType="com.ruoyi.credit.domain.CreditCard" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_credit_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardNum != null and cardNum != ''">card_num,</if>
            <if test="cardName != null">card_name,</if>
            <if test="creditLimit != null">credit_limit,</if>
            <if test="billDay != null">bill_day,</if>
            <if test="repayDay != null">repay_day,</if>
            <if test="annualFee != null">annual_fee,</if>
            <if test="bank != null">bank,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardNum != null and cardNum != ''">#{cardNum},</if>
            <if test="cardName != null">#{cardName},</if>
            <if test="creditLimit != null">#{creditLimit},</if>
            <if test="billDay != null">#{billDay},</if>
            <if test="repayDay != null">#{repayDay},</if>
            <if test="annualFee != null">#{annualFee},</if>
            <if test="bank != null">#{bank},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCreditCard" parameterType="com.ruoyi.credit.domain.CreditCard">
        update t_credit_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardNum != null and cardNum != ''">card_num = #{cardNum},</if>
            <if test="cardName != null">card_name = #{cardName},</if>
            <if test="creditLimit != null">credit_limit = #{creditLimit},</if>
            <if test="billDay != null">bill_day = #{billDay},</if>
            <if test="repayDay != null">repay_day = #{repayDay},</if>
            <if test="annualFee != null">annual_fee = #{annualFee},</if>
            <if test="bank != null">bank = #{bank},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCreditCardById" parameterType="Long">
        delete
        from t_credit_card
        where id = #{id}
    </delete>

    <delete id="deleteCreditCardByIds" parameterType="String">
        delete from t_credit_card where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
